$colorOne: #8ecae6;
$button-visit: #219ebc;
$nav-footer: #023047;
$colorFour: #ffb703;
$button-code: #fb8500;
$nav-footer-text: #fff;

body {
  font-family: 'Comfortaa', cursive, sans-serif;
  a {
    display: contents;
  }
}

.custom-nav {
  background-color: $nav-footer;

  a {
    color: $nav-footer-text;
  }
  a:hover {
    background-color: rgba($nav-footer-text, 0.2);
  }

  .navbar-brand {
    img {
      max-width: 3rem;
    }
  }
}

.custom-row {
  .btn {
    margin-bottom: 0.5rem;
    bottom: 0;
    box-shadow: 1px 1px 5px #000;
  }

  .btn-code {
    background-color: $button-code;
  }
  .btn-code:hover {
    background-color: rgba($button-code, 0.6);
  }
  .btn-visit {
    background-color: $button-visit;
  }
  .btn-visit:hover {
    background-color: rgba($button-visit, 0.6);
  }
}

.first-row {
  margin-top: 5rem;
  .img-col {
    img {
      max-width: 50%;
    }
  }
  h1 {
    font-family: 'Road Rage', cursive, sans-serif;
    font-size: 4rem;
    color: $colorFour;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }
}

.second-row {
  margin-bottom: 2rem;
  h2 {
    font-family: 'Road Rage', cursive, sans-serif;
    font-size: 3rem;
    color: $colorFour;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }
}

.third-row {
  border-top: 5px solid $colorOne;
  border-radius: 2%;
  border-bottom: 5px solid $colorOne;

  .img-col {
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;

    img {
      margin: 10px;
      max-width: 100%;
      box-shadow: 10px 10px 5px grey;
    }
    // img:hover {
    //   transform: scale(1.05);
  }

  h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Road Rage', cursive, sans-serif;
    font-size: 3rem;
    color: $colorOne;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }
}
.left-overlay {
  position: absolute;
  height: 100%;
  width: 5rem;
  left: 0;
  margin: 10px;
  background-color: rgba($colorOne, 0.8);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;

  a {
    font-family: 'Road Rage', cursive, sans-serif;
    font-size: 1.7rem;
    color: $button-code;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }
}
.right-overlay {
  position: absolute;
  height: 100%;
  width: 5rem;
  right: 0;
  margin: 10px;
  background-color: rgba($colorOne, 0.8);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;

  a {
    font-family: 'Road Rage', cursive, sans-serif;
    font-size: 1.7rem;
    color: $button-code;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }
}

.modal-window {
  width: 25rem;
  padding: 0.5rem;
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -100%);
  margin-top: 2rem;
  margin-bottom: 2rem;

  .card-title {
    font-family: 'Road Rage', cursive, sans-serif;
    font-size: 2rem;
    color: $button-code;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }

  .code-button {
    background-color: $button-code;
  }

  .page-button {
    background-color: $button-visit;
  }
}

.hide-modal {
  display: none;
}

.custom-footer {
  color: $nav-footer-text;
  max-width: 100%;
  .footer-container {
    background-color: $nav-footer;
    margin-top: 2rem;
    .social-icon {
      max-width: 4rem;
    }
    .social-icon:hover {
      transform: scale(1.05);
    }
    .footer-logo {
      max-width: 6rem;
    }
  }
}
