body {
  font-family: "Comfortaa", cursive, sans-serif;
  background-image: linear-gradient(to bottom right, #8ecae6, #ffb703);
}

.custom-nav {
  background-color: #023047;
}
.custom-nav a {
  color: #fff;
}
.custom-nav .navbar-brand img {
  max-width: 3rem;
}

.custom-row .btn {
  margin-bottom: 0.5rem;
  bottom: 0;
}
.custom-row .btn-code {
  background-color: #fb8500;
}
.custom-row .btn-visit {
  background-color: #219ebc;
}

.first-row {
  margin-top: 5rem;
}
.first-row .img-col img {
  max-width: 50%;
}
.first-row h1 {
  font-family: "Road Rage", cursive, sans-serif;
  font-size: 4rem;
  color: #ffb703;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.second-row {
  margin-bottom: 2rem;
}
.second-row h2 {
  font-family: "Road Rage", cursive, sans-serif;
  font-size: 2.5rem;
  color: #ffb703;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.third-row {
  border-top: 5px solid #8ecae6;
  border-radius: 2%;
  border-bottom: 5px solid #8ecae6;
}
.third-row .img-col {
  margin-top: 1rem;
}
.third-row .img-col img {
  max-width: 80%;
  box-shadow: 10px 10px 5px grey;
}
.third-row .img-col img:hover {
  transform: scale(1.1);
}
.third-row h4 {
  margin-top: 1rem;
}

.custom-footer {
  color: #fff;
  max-width: 100%;
}
.custom-footer .footer-container {
  background-color: #023047;
  margin-top: 2rem;
}
.custom-footer .footer-container .social-icon {
  max-width: 4rem;
}
.custom-footer .footer-container .footer-logo {
  max-width: 6rem;
}