body {
  font-family: "Comfortaa", cursive, sans-serif;
}
body a {
  display: contents;
}

.custom-nav {
  background-color: #023047;
}
.custom-nav a {
  color: #fff;
}
.custom-nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.custom-nav .navbar-brand img {
  max-width: 3rem;
}

.custom-row .btn {
  margin-bottom: 0.5rem;
  bottom: 0;
  box-shadow: 1px 1px 5px #000;
}
.custom-row .btn-code {
  background-color: #fb8500;
}
.custom-row .btn-code:hover {
  background-color: rgba(251, 133, 0, 0.6);
}
.custom-row .btn-visit {
  background-color: #219ebc;
}
.custom-row .btn-visit:hover {
  background-color: rgba(33, 158, 188, 0.6);
}

.first-row {
  margin-top: 5rem;
}
.first-row .img-col img {
  max-width: 90%;
}
.first-row h1 {
  font-family: "Road Rage", cursive, sans-serif;
  font-size: 4rem;
  color: #ffb703;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.second-row {
  margin-bottom: 2rem;
}
.second-row h2 {
  font-family: "Road Rage", cursive, sans-serif;
  font-size: 3rem;
  color: #ffb703;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.third-row {
  border-top: 5px solid #8ecae6;
  border-radius: 2%;
  border-bottom: 5px solid #8ecae6;
}
.third-row .img-col {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.third-row .img-col img {
  margin: 10px;
  max-width: 40%;
  box-shadow: 10px 10px 5px grey;
}
.third-row .img-col img:hover {
  transform: scale(1.05);
}

.custom-footer {
  color: #fff;
  max-width: 100%;
}
.custom-footer .footer-container {
  background-color: #023047;
  margin-top: 2rem;
}
.custom-footer .footer-container .social-icon {
  max-width: 4rem;
}
.custom-footer .footer-container .social-icon:hover {
  transform: scale(1.05);
}
.custom-footer .footer-container .footer-logo {
  max-width: 6rem;
}